[Unit]
Description=Amazing Test Service

[Service]
Type=simple
# Environment=NPM_DIR=/home/test/.npm
# EnvironmentFile=-/etc/default/extra
# WorkingDirectory=/home/test/app
ExecStart=/home/adrian/programming/rust/adh-rs/target/debug/adhdaemon --daemon
# Restart=on-failure

# [Install]
# WantedBy=multi-user.target
