[Socket]
# %t is $XDG_RUNTIME_DIR
ListenDatagram = %t/adh-rs.sock
FileDescriptorName = gui-commands
Service = adhdaemon.service

[Install]
WantedBy = sockets.target
