[Unit]
Description=Daemon for the ahd-rs noise generator

[Service]
Type=simple
ExecStart=%h/.cargo/bin/adh-daemon
Environment="PATH=/usr/local/bin:/usr/bin:%h/.cargo/bin"
